@import "tailwindcss";

:root {
  --bg: #f7fafc;
  --surface: #ffffff;
  --text: #0f172a;
  --muted: #475569;
  --border: #e2e8f0;

  /* --primary: #0b1f3b;
  --primaryHover: #0a2a52; */
  --primary: #1a3f6b;
  --primaryHover: #16365c;

  --accent: #1ea7a1;
  --accentHover: #178a85;

  --highlight: #d4a84f;
}

@theme inline {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primaryHover: var(--primaryHover);
  --color-accent: var(--accent);
  --color-accentHover: var(--accentHover);
  --color-highlight: var(--highlight);
}

body {
  background: var(--bg);
  color: var(--text);
}
